$text: #000000;

.companies {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  width: 100%;
  margin: auto;

  .companies-top-panel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .companies-search-bar {
      width: 100%;
      max-width: 500px;

      & > input {
        width: 100%;
        height: 100%;
        padding: 10px;
        border: solid rgba(255, 255, 255, 0.421);
        border-radius: 12px;
        background-color: rgba(255, 255, 255, 0.0);
        color: white;
      }
    }

    ::placeholder {
      color: white;
      opacity: 1;
    }

    .companies-list-grid-toggle {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      padding: 0 10px;

      & > button {
        line-height: 2rem;
        border-radius: 5px;
        border-style: none;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .companies-main-panel {
    width: 100%;

    .companies-grid-view {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      padding: 10px;

      .companies-list-item {
        aspect-ratio: 1/1;
        display: flex;
        flex-direction: column;
        place-items: flex-end;
        padding: 20px;
        gap: 20px;
        border-radius: 12px;

        // modelled after https://www.w3schools.com/howto/howto_css_flip_card.asp
        .flip-card {
          width: 100%;
          height: 100%;
          perspective: 1000px;
          border: 5px solid white;
          border-radius: 12px;
        
          .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;

            .flip-card-front, .flip-card-back {
              position: absolute;
              width: 100%;
              height: 100%;
              -webkit-backface-visibility: hidden; /* Safari */
              backface-visibility: hidden;
            }
            
            /* Style the front side (fallback if image is missing) */
            .flip-card-front {
              background-color: #bbb;
              color: black;
              background: #FFFFFF;

              & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            
            /* Style the back side */
            .flip-card-back {
              background: linear-gradient(90deg, #5787e6 0%, #6373cd 100%);
              color: white;
              transform: rotateY(180deg);
              overflow: hidden;

              .companies-list-item-name {
                font-size: 1.5rem;
                font-weight: bold;
                margin-top: 15px;
              }
              .companies-list-item-info {
                font-size: 1rem;
                margin-bottom: 10px;
              }
            }
          }
        }
        .companies-list-item-button {
          width: fit-content;
          background: none;
          color: white;
          font-weight: bold;
          cursor: pointer;
          line-height: 2;
          justify-self: flex-end;
          margin-top: auto;
          border: none;
          outline: none;
          border: 1px solid transparent;
          transition: all 0.2s ease-in-out;
          padding-right: 40px;
          position: relative;

          &:after {
            content: "\2192";
            margin-left: 10px;
            transition: all 0.2s ease-in-out;
            position: absolute;
            right: 20px;
            top: 1px;
          }

          &:hover{
            border-radius: 12px;
            border: 1px solid white;

            &:after {
              transform: translateX(10px);
            }
          }
        }
        .flip-card:hover .flip-card-inner {
          transform: rotateY(180deg);
        }
      }
    }


    /// COMPANIES LIST VIEW
    .companies-list-view {
      display: flex;
      flex-direction: column;
      padding: 10px;
      gap: 50px;

      .companies-list-item {
        // aspect-ratio: 1/1;
        width: 100%;
        min-width: 480px;
        height: 500px;
        height: clamp(200px, 30vw, 400px);
        display: flex;
        flex-direction: column;
        place-items: flex-end;
        padding: 20px;
        gap: 20px;
        border-radius: 12px;

        // modelled after https://www.w3schools.com/howto/howto_css_flip_card.asp
        .company-list-card {
          width: 100%;
          height: 100%;
          border-radius: 12px;
          display: inline-flex;
          gap: 10px;
          transition: all 0.5s ease-in-out;
          padding: clamp(5px, 1vw, 20px);
          border: 1px solid white;

          &:hover {
            background: rgba(#5787e6, 0.3);
          }
            
          .company-image {
            color: black;
            display: inline-flex;
            height: 100%;
            aspect-ratio: 1/1;
            padding: 5px;

            & > img {
              height: 100%;
              width: 100%;

              object-fit: cover;
              place-self: flex-start;
            }
          }
            /* Style the back side */
          .company-info {
            // background: linear-gradient(90deg, #5787e6 0%, #6373cd 100%);
            color: white;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0 0 0 25px;
            
            .company-name {
              font-size: clamp(14px, 10vw, 30px);
              font-weight: 600;
            }

            .company-url {
              font-size: 11px;
              color: white;
            }
            
            .company-location {
              margin-top: 10px;
              text-transform: capitalize;

              &::before {
                content: "\1F4CD";
                margin-right: 5px;
              }
            }

            .company-description {
              font-size: 14px;
            }
          }
        }
        .company-more-info-button {
          width: fit-content;
          background: none;
          color: white;
          font-weight: bold;
          cursor: pointer;
          line-height: 2;
          justify-self: flex-end;
          margin-top: auto;
          outline: none;
          border: 1px solid transparent;
          transition: all 0.2s ease-in-out;
          padding-right: 40px;
          position: relative;

          &:after {
            content: "\2192";
            margin-left: 10px;
            transition: all 0.2s ease-in-out;
            position: absolute;
            right: 20px;
            top: 1px;
          }

          &:hover{
            border-radius: 12px;
            border: 1px solid white;

            &:after {
              transform: translateX(10px);
            }
          }
        }
        .flip-card:hover .flip-card-inner {
          transform: rotateY(180deg);
        }
      }
    }
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .modal-content {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    height: 600px;
    overflow-y: auto;
    position: relative;

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 1.5rem;
      color: #000000;
      cursor: pointer;
    }

    label {
      display: block;
      margin-bottom: 15px;
      font-weight: bold;
    }

    input[type="text"], input[type="email"],
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #8e9bcf;
      border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    input[type="submit"], input[type="button"] {
      background-color: #8e9bcf;
      color: #FFFFFF;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
