$text: #000000;

.people {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;

  .people-top-panel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .people-search-bar {
      width: 100%;
      max-width: 500px;

      & > input {
        width: 100%;
        height: 100%;
        padding: 10px;
        border: solid rgba(255, 255, 255, 0.421);
        border-radius: 12px;
        background-color: rgba(255, 255, 255, 0.0);
        color: white;
      }
    }

    ::placeholder {
      color: white;
      opacity: 1;
    }

    .people-list-grid-toggle {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      padding: 0 10px;

      & > button {
        line-height: 2rem;
        border-radius: 5px;
        border-style: none;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .people-main-panel {
    width: 100%;

    .people-grid-view {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 50px;
      padding: 10px;

      .people-list-item {
        aspect-ratio: 1/1;
        display: flex;
        flex-direction: column;
        place-items: flex-end;
        padding: 20px;
        gap: 20px;
        border-radius: 12px;

        // modelled after https://www.w3schools.com/howto/howto_css_flip_card.asp
        .flip-card {
          width: 100%;
          height: 100%;
          perspective: 1000px;
          border: 5px solid white;
          border-radius: 12px;
        
          .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;

            .flip-card-front, .flip-card-back {
              position: absolute;
              width: 100%;
              height: 100%;
              -webkit-backface-visibility: hidden; /* Safari */
              backface-visibility: hidden;
            }
            
            /* Style the front side (fallback if image is missing) */
            .flip-card-front {
              background-color: #bbb;
              color: black;
              background: #FFFFFF;

              & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            
            /* Style the back side */
            .flip-card-back {
              background: linear-gradient(90deg, #5787e6 0%, #6373cd 100%);
              color: white;
              transform: rotateY(180deg);
              overflow: hidden;

              .person-list-item-name {
                font-size: 1.5rem;
                font-weight: bold;
                margin-top: 15px;
              }
              .person-list-item-info {
                font-size: 1rem;
                margin-bottom: 10px;
              }
            }
          }
        }

        .person-list-item-button {
          width: fit-content;
          background: none;
          color: white;
          font-weight: bold;
          cursor: pointer;
          line-height: 2;
          justify-self: flex-end;
          margin-top: auto;
          border: none;
          outline: none;
          border: 1px solid transparent;
          transition: all 0.2s ease-in-out;
          padding-right: 40px;
          position: relative;

          &:after {
            content: "\2192";
            margin-left: 10px;
            transition: all 0.2s ease-in-out;
            position: absolute;
            right: 20px;
            top: 1px;
          }

          &:hover{
            border-radius: 12px;
            border: 1px solid white;

            &:after {
              transform: translateX(10px);
            }
          }
        }
        .flip-card:hover .flip-card-inner {
          transform: rotateY(180deg);
        }
      }
    }

/// COMPANIES LIST VIEW
.people-list-view {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 50px;

  .people-list-item {
    // aspect-ratio: 1/1;
    width: 100%;
    min-width: 480px;
    height: 500px;
    height: clamp(200px, 30vw, 400px);
    display: flex;
    flex-direction: column;
    place-items: flex-end;
    padding: 20px;
    gap: 20px;
    border-radius: 12px;

    // modelled after https://www.w3schools.com/howto/howto_css_flip_card.asp
    .people-list-card {
      width: 100%;
      height: 100%;
      border-radius: 12px;
      display: inline-flex;
      gap: 10px;
      transition: all 0.5s ease-in-out;
      padding: clamp(5px, 1vw, 20px);
      border: 1px solid white;

      &:hover {
        background: rgba(#5787e6, 0.3);
      }
        
      .person-image {
        color: black;
        display: inline-flex;
        height: 100%;
        aspect-ratio: 1/1;
        padding: 5px;

        & > img {
          height: 100%;
          width: 100%;

          object-fit: cover;
          place-self: flex-start;
          border-radius: 10px;
        }
      }
        /* Style the back side */
      .person-info {
        // background: linear-gradient(90deg, #5787e6 0%, #6373cd 100%);
        color: white;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 0 0 25px;
        
        .person-name {
          font-size: clamp(14px, 10vw, 30px);
          font-weight: 600;
        }

        .person-email {
          font-size: 11px;
          color: white;
        }
        
        .company-location {
          margin-top: 10px;
          text-transform: capitalize;

          &::before {
            content: "\1F4CD";
            margin-right: 5px;
          }
        }

        .person-description {
          font-size: 14px;
        }
      }
    }
    .person-more-info-button {
      width: fit-content;
      background: none;
      color: white;
      font-weight: bold;
      cursor: pointer;
      line-height: 2;
      justify-self: flex-end;
      margin-top: auto;
      outline: none;
      border: 1px solid transparent;
      transition: all 0.2s ease-in-out;
      padding-right: 40px;
      position: relative;

      &:after {
        content: "\2192";
        margin-left: 10px;
        transition: all 0.2s ease-in-out;
        position: absolute;
        right: 20px;
        top: 1px;
      }

      &:hover{
        border-radius: 12px;
        border: 1px solid white;

        &:after {
          transform: translateX(10px);
        }
      }
    }
    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }
  }
}
  }
}
