$background: linear-gradient(90deg, #68b3d3 0%, #6e7fc5 100%);;
$text: #000000;

.company-profile-container {
  width: 100%;
  height: 100%;
  display: flex;
  place-content: center;
  // background: $background;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;

  .company-profile {
    background: $background;
    // background: #CDE2CA;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;

    @media screen and (max-width: 960px) {
      flex-direction: column;

      & > * {
        width: 100% !important;
      }
    }

    .company-profile-left-panel {
      width: 50%;
      background: #FFFFFF;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;

      .company-profile-header {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        & > button {
          background: none;
          border: 1px solid transparent;
          transition: all 0.3s ease-in-out;

          &:hover {
            border: 1px solid $header;
          }
        }
      }

      .company-profile-name {
        text-transform: capitalize;
        font-size: 23px;
        font-weight: 600;
      }

      .company-profile-image {
        // width: clamp(100px, 70%, 300px);
        width: 60%;
        aspect-ratio: 1/1;
        object-fit: cover;
      }

      .company-profile-bottom {
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
      }

      .company-profile-links {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-bottom: 20px;
      }

      .company-profile-extended-bio {
        max-width: 50ch;
        // padding: 10px;
      }
    }

    .company-profile-right-panel {
      width: 50%;
      background: #FFFFFF;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      position: relative;

      .company-profile-header {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        & > h1 {
          text-transform: capitalize;
          font-size: 23px;
          font-weight: 600;
        }
      }

      .add-people {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 25px;
        background: #FFFFFF;
        border: none;
        cursor: pointer;
      }

      .company-profile-person {
        display: flex;
        flex-direction: row;
        width: max-content;
        gap: 10px;
        width: 100%;

        
        .company-profile-person-information { 
          // width: 420px;
          background: #E5E6E4;
          width: 100%;
          display: flex;
          flex-direction: row;
          padding: 20px;
          gap: 10px;
          
          & > img {
            width: 60px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            margin: auto;
            margin-left: 20px;
            margin-right: 15px;
            object-fit: cover;
          }

          .bio {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 100%;
            & > h2 {
              text-transform: capitalize;
              font-size: 1.2em;
              margin-left: 10px;
              color: $text;

              & > a {
                color: inherit;
              }
            }
            & > p {
              text-transform: capitalize;
              font-size: 1em;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
 }
