$text: #000000;

.companies {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 20px;
  padding: 20px;

  .companies-top-panel {
    width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .companies-search-bar {
      width: 100%;
      max-width: 500px;

      & > input {
        width: 100%;
        height: 100%;
        padding: 10px;
        border: solid rgba(255, 255, 255, 0.421);
        border-radius: 12px;
        background-color: rgba(255, 255, 255, 0.0);
        color: white;
      }
    }

    ::placeholder {
      color: white;
      opacity: 1;
    }

    .companies-list-grid-toggle {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      padding: 0 10px;

      & > button {
        line-height: 2rem;
        border-radius: 5px;
        border-style: none;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .companies-main-panel {
    width: 1200px;

    .companies-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 50px;
      padding: 10px;

      .companies-list-item {
        aspect-ratio: 1/1;
        display: flex;
        flex-direction: column;
        place-items: flex-end;
        padding: 20px;
        gap: 20px;
        border-radius: 12px;

        // modelled after https://www.w3schools.com/howto/howto_css_flip_card.asp
        .flip-card {
          width: 100%;
          height: 100%;
          perspective: 1000px;
          border: 5px solid white;
          border-radius: 12px;
        
          .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;

            .flip-card-front, .flip-card-back {
              position: absolute;
              width: 100%;
              height: 100%;
              -webkit-backface-visibility: hidden; /* Safari */
              backface-visibility: hidden;
            }
            
            /* Style the front side (fallback if image is missing) */
            .flip-card-front {
              background-color: #bbb;
              color: black;
              background: #FFFFFF;

              & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            
            /* Style the back side */
            .flip-card-back {
              background: linear-gradient(90deg, #3d75e4 0%, #2b3da2 100%);
              color: white;
              transform: rotateY(180deg);
              overflow: hidden;

              .companies-list-item-name {
                font-size: 1.5rem;
                font-weight: bold;
                margin-top: 15px;
              }
              .companies-list-item-info {
                font-size: 1rem;
                margin-bottom: 10px;
              }
            }
          }
        }
        .companies-list-item-button {
          width: fit-content;
          background: none;
          color: white;
          font-weight: bold;
          cursor: pointer;
          line-height: 2;
          justify-self: flex-end;
          margin-top: auto;
          border: none;
          outline: none;

          &:after {
            content: "\2192";
            margin-left: 10px;
            transition: all 0.2s ease-in-out;
          }

          &:hover{
            border-color: white;
            border-style: solid;
            border-radius: 12px;

            &::after {
              transform: translateX(10px);
            }
          }
        }
        .flip-card:hover .flip-card-inner {
          transform: rotateY(180deg);
        }
      }
    }
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .modal-content {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    height: 600px;
    overflow-y: auto;
    position: relative;

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 1.5rem;
      color: #000000;
      cursor: pointer;
    }

    label {
      display: block;
      margin-bottom: 15px;
      font-weight: bold;
    }

    input[type="text"], input[type="email"],
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #A4BCA1;
      border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    input[type="submit"], input[type="button"] {
      background-color: #A4BCA1;
      color: #FFFFFF;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-weight: bold;
      cursor: pointer;
      margin-left: 120px;
    }
  }
}
