$header: #A4BCA1;
$background: linear-gradient(90deg, #68b3d3 0%, #6e7fc5 100%);
$text: #000000;

body, html {
  font-family: "Proxima Nova", sans-serif;
  height: 100%;
  background: $background;
}

.homepage {
  background: $background;
  width: 100%;
  height: 100%;
  margin-top: auto;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 30px;
  place-content: center;

  .main-panel {
    width: 60%;
    height: 650px;
    padding: 20px;

    .homepage-title {
      font-size: 5rem;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
      color: white;
    }

    .homepage-subtitle {
      font-size: 2rem;
      font-style: italic;
      margin-top: 10px;
      margin-bottom: 50px;
      text-align: center;
      color: white;
    }

    .homepage-tasks {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .homepage-tasks-overview {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        font-weight: bold;
        font-size: 1.2rem;

        ul {
          width: 100%;
          padding-bottom: 10px;
          .nav-item {
            display: flex;
            border-style: solid;
            border-width: 1px;
            border-radius: 25px;
            margin: 5px;
            padding: 5px;
            border-color: white;
            flex-direction: column;

            button {
              color: white;
            }
          }
          .nav-link.active {
            background-color: rgba(255, 255, 255, 0.305);
            color: black;
            border: none;
            border-radius: 25px;
          }
          .nav-link:hover {
            border-radius: 25px;
          }
        }
      }

      .homepage-tasks-table {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding: 10px;
        position: relative;

        .homepage-tasks-table-header {
          display: flex;
          flex-direction: row;
          gap: 20px;
          font-weight: bold;
          width: 100%;
        }

        .homepage-tasks-table-row {
          display: flex;
          flex-direction: row;
          gap: 20px;
          width: 100%;
          padding: 10px;
          margin-bottom: 1px;
          font-size: 1.1rem;
          text-align: left;
          text-align: center;

          &.table-header {
            font-weight: bold;
            font-size: 1.3rem;
            padding: 0px;
          }

          &.table-body {
            background-color: rgba(255, 255, 255, 0.563);
            border-radius: 20px;
            margin-bottom: 10px;
            padding: 5px;
          }
          
          .homepage-tasks-table-cell {
            width: 30%;
            margin: 0 10px;
            text-transform: capitalize;
            position: static;
          }
        }
      }
      .create-task-button {
        background-color: rgba(255, 255, 255, 0.563);
        border-radius: 20px;
        border-style: none;
        padding: 5px;
        width: 20%;
        align-self: center;
      }
    }
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .modal-content {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    max-width: 800px;
    height: 400px;
    overflow-y: auto;
    position: relative;

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 1.5rem;
      color: #000000;
      cursor: pointer;
    }

    label {
      display: block;
      margin-bottom: 15px;
      font-weight: bold;
    }

    input[type="text"], input[type="email"],
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #A4BCA1;
      border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    input[type="submit"], input[type="button"] {
      background-color: #A4BCA1;
      color: #FFFFFF;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-weight: bold;
      cursor: pointer;
      margin-left: 80px;
    }
  }
}