$header: #A4BCA1;
$background: #F6F8F5;
$text: #000000;

.people {
  background: $background;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 20px;
  padding: 20px;

  .people-top-panel {
    width: 1250px;
    display: flex;
    background: $background;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .people-search-bar {
      width: 100%;
      max-width: 500px;

      & > input {
        width: 100%;
        height: 100%;
        padding: 10px;
        border: none;
        outline: none;
      }
    }

    .people-list-grid-toggle {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      padding: 0 10px;

      & > button {
        line-height: 2rem;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: #A4BCA1;
        color: white;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .people-main-panel {
    width: 1200px;
    background: $background;

    .people-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 50px;
      background: $background;
      padding: 10px;

      .people-list-item {
        background: white;
        aspect-ratio: 1/1;
        display: flex;
        flex-direction: column;
        place-items: flex-end;
        padding: 20px;
        gap: 20px;
        border-radius: 12px;

        // modelled after https://www.w3schools.com/howto/howto_css_flip_card.asp
        .flip-card {
          width: 100%;
          height: 100%;
          perspective: 1000px;
          border: 1px solid #f1f1f1;
        
          .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;

            .flip-card-front, .flip-card-back {
              position: absolute;
              width: 100%;
              height: 100%;
              -webkit-backface-visibility: hidden; /* Safari */
              backface-visibility: hidden;
            }
            
            /* Style the front side (fallback if image is missing) */
            .flip-card-front {
              background-color: #bbb;
              color: black;
              background: #FFFFFF;

              & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            
            /* Style the back side */
            .flip-card-back {
              background-color: rgb(69, 124, 36);
              color: white;
              transform: rotateY(180deg);
              overflow: hidden;

              .person-list-item-name {
                font-size: 1.5rem;
                font-weight: bold;
                margin-top: 15px;
              }
              .person-list-item-info {
                font-size: 1rem;
                margin-bottom: 10px;
              }
            }
          }
        }
        .person-list-item-button {
          width: fit-content;
          background: none;
          color: white;
          font-weight: bold;
          cursor: pointer;
          line-height: 2;
          justify-self: flex-end;
          background: $header;
          margin-top: auto;
          border: none;
          outline: none;

          &:after {
            content: "\2192";
            margin-left: 10px;
            transition: all 0.2s ease-in-out;
          }

          &:hover{
            color: #c0d6bd;

            &::after {
              transform: translateX(10px);
            }
          }
        }
        .flip-card:hover .flip-card-inner {
          transform: rotateY(180deg);
        }
      }
    }
  }
}
