$header: #A4BCA1;
$background: #F6F8F5;
$text: #000000;

.first-row {
  display: flex;
}

.basic-info {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  margin: 1em;
  width: 30%;
  height: 500px;
}

.person-bio {
  display: flex;
  height: 50%;
  flex-direction: row;
}

.profile-pic {
  flex: 0 0 auto;
  padding: 25px;
  margin-right: 10px;
  width: clamp(100px, 70%, 300px);

  & > img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}


  
.info-text {
  flex: 1 1 auto;
  width: 325px;
}

.info-text h1 {
  font-size: 30px;
}

.info-text p {
  font-size: 13px;
}

.person-notes {
  margin-right: 100px;
}

.notes-content {
  background-color: #EBEBEB;
  font-size: 15px;
  padding: 15px;
  width: 100%;
  margin: 10px;
  margin-left: 20px;
  flex-grow: 1;
}

.todos,.notes {
  background-color: #FFFFFF;
  width: 30%;
  height: 500px;
  padding: 20px;
  margin: 15px;
  position: relative;

  .add-tasks, .add-notes {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    background: #FFFFFF;
    border: none;
    cursor: pointer;
  }
  h1 {
    padding: 10px;
    font-size: 30px;
  }  
}

.task, .note{
  background-color: #EBEBEB;
  color: $text;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
}

.email-container {
  background-color: #FFFFFF;
  padding: 20px;
  margin: 15px;
}

.email-container h1 {
  color: $text;
  font-size: 30px;
}

.email-interaction {
  background-color: #EBEBEB;
  margin: 10px;
  margin-left: 15px;
}

.email-interaction h2 {
  color: $text;
  font-size: 20px;
  padding: 5px;
}

.email-interaction h3 {
  color: $text;
  font-size: 15px;
  padding: 5px;
}
