body, html {
  font-family: "Roboto", sans-serif;
  background: #A4BCA1;
  // color: white;
  height: 100%;
}

* {
  box-sizing: border-box;;
}

li {
  list-style: none;
}

ul.navbar {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;

  .inner-navbar {
    display: flex;
    gap: 1em;
  }
}


.modal {
  background-color: white;
  color: #A4BCA1;
  width: 40vw;
  height: 40vh;
}

button {
  border: none;
  outline: none;
}
