body, html {
  font-family: "Roboto", sans-serif;
  background: #A4BCA1;
  color: white;
  height: 100%;
}

ul.navbar {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;

  .inner-navbar {
    display: flex;
    gap: 1em;
  }
}

.landing-page {
  height: 100vh;
  background-image: url('https://img.freepik.com/free-vector/minimal-cat-background-line-art-illustration-vector_53876-151371.jpg');
  background-size: cover;
}